*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #e1e1e1;
}

button{
	background-color: #bf5700;
	color: white;
	padding: 10px;
}

#chameleon{
	height: 100px;
	width: 100px;
	background-color: green;
}

#redRandom{
	height: 100px;
	width: 300px;
}

#redrandom p{
	font-size: 24px;
	font-style: bold;
}